BACKLINE_API_URL=http://localhost:8080
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/backline
SPRING_DATASOURCE_USERNAME=backline
SPRING_DATASOURCE_PASSWORD=backline
POSTGRES_DB=backline
POSTGRES_USER=backline
POSTGRES_PASSWORD=backline
BACKLINE_WORKER_ID=worker-1
BACKLINE_SAMPLE_PORT=8081
